# Force LFS rules
**/bin/* binary
*.zip binary
*.AppxBundle binary
*.msixbundle

# Force LF line endings
*.sh text eol=lf
*.bashrc text eol=lf
*.zshrc text eol=lf

# Force CRLF line endings
*.ps1 text eol=crlf